Django
django-crispy-forms
git+https://github.com/erikvw/django-revision.git
git+https://github.com/botswana-harvard/edc-base.git
git+https://github.com/botswana-harvard/edc-identifier.git
git+https://github.com/botswana-harvard/edc-subset-manager.git
git+https://github.com/botswana-harvard/edc-device.git
git+https://github.com/botswana-harvard/edc-protocol.git
git+https://github.com/botswana-harvard/member.git
git+https://github.com/botswana-harvard/edc-map.git
git+https://github.com/botswana-harvard/survey.git
git+https://github.com/botswana-harvard/edc-registration.git
git+https://github.com/botswana-harvard/edc-appointment.git
