{% load staticfiles %}
{% load crispy_forms_tags %}

   <div class="container">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading clearfix"><i class="fa fa-home fa-lg"></i>{% include 'edc_search/search_form.html' %}</div>
            <div class="panel-body">
                    <table class="table table-condensed table-hover small">
                      <thead>
	                      <th>#</th>
                        <th>Plot</th>
	                      <th>Household</th>
                        <th></th>
	                      <th>Composition</th>
	                      <th>Member</th>
	                      <th>Community</th>
	                      <th>User</th>
	                      <th>Modified</th>
	                      <th>Host</th>
                      </thead>
                      <tbody>
                      	{%  for obj in results %}
      						<tr> 
            				<td>{{ forloop.counter }}</td>
            				<td><a title="plot" role="button" class="btn btn-sm btn-default" href="{% url 'plot:list_url' plot_identifier=obj.plot.plot_identifier %}"><i class="fa fa-building-o fa-md"></i></a></td>  
                    <td><a title="household" role="button" class="btn btn-sm btn-success" href="{% url 'household:household_admin:household_household_change' obj.pk %}?next={% url 'household:list_url' %}"><i class="fa fa-pencil fa-sm"></i> {{ obj.household_identifier }}</a></td>
                    <td><a title="members" role="button" class="btn btn-sm btn-default" href="{% url 'member:list_url' plot_identifier=obj.plot.plot_identifier %}"><i class="fa fa-group fa-md"></i></a></td>  
            				<td><a role="button" title="enumeration" class="btn btn-sm btn-default" href="{% url 'enumeration_dashboard_url' obj.household_identifier %}"><i class="fa fa-tachometer" aria-hidden="true"></i>  Composition</a></td>  
            				<td> {{ obj.plot_identifier }} </td>  
            				<td> {{ obj.plot.community }} </td>  
            				<td> {{ obj.user_created }}</td>  
            				<td> {{ obj.modified }}</td>  
            				<td> {{ obj.hostname_created }} </td>  
            			</tr>
            			{% endfor %}
                      </tbody>
                  </table>
                  {% include 'edc_search/paginator.html' %}
                  </div>
            </div>
          </div>
  </div>
